<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conditional</title>
</head>
<body>
    <!--
    <center>
        <h1>
            if condition
        </h1>
        {% if a > b %}
           <h2>A is max</h2>
        {% endif %}
    </center>
   -->
   <!-- 
   <center>
    <h1>
        if-else condition
    </h1>
    {% if a > b %}
       <h2>A is max</h2>
    {% else %}
        <h2>B is max</h2>
    {% endif %}
  </center>
  -->
  <!----
  <center>
    <h1>
        if-elif-else condition
    </h1>
    {% if a > b and a > c %}
       <h2>A is max</h2>
    {% elif b > c %}
        <h2>B is max</h2>
    {% else %}
        <h2>C is max</h2>
    {% endif %}
</center>
-->
<center>
    <h1>
        nested-if condition
    </h1>
    {% if a > b %}
       {% if a > c %}
           <h2>A is max</h2>
        {% else %}
            <h2>c is max</h2>
        {% endif %}
    {% else %}
      {% if b > c %}
         <h2> b is max</h2>
      {% else %}
          <h2> c is max</h2>
      {% endif %}
    {% endif %}
</center>


    
</body>
</html>